@charset "UTF-8";
* {
  word-break: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: clamp(12px, 3vw, 16px);
  line-height: 1.8;
}

li {
  list-style: none;
  line-height: 1.8;
  font-size: clamp(12px, 3vw, 16px);
}

.loading-anime-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.89);
}

.loading-anime-wrap .loading-anime-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  text-shadow: 1px -1px 0 black;
  font-size: clamp(12px, 3vw, 20px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading-anime-wrap .loading-anime-line {
  position: absolute;
  top: 60%;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-animation: example 1s ease 0.3s 1 forwards;
          animation: example 1s ease 0.3s 1 forwards;
}

@-webkit-keyframes example {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes example {
  0% {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.top-img {
  position: relative;
  margin: 24px 2%;
  width: 96%;
  height: 680px;
  border-radius: 16px;
  background-image: url(../img/top.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .top-img {
    background-position: right;
  }
}

@media (max-width: 576px) {
  .top-img {
    margin: 8px 2%;
    height: 400px;
    background-size: auto 400px;
  }
}

.top-img .scrolldown-btn {
  position: absolute;
  right: calc((100% - (200px + 2%)) / 2);
  bottom: 50px;
  color: #d8d8d8;
  font-weight: bold;
  -webkit-animation: arrowmove 1s ease-in-out infinite;
          animation: arrowmove 1s ease-in-out infinite;
}

@media (max-width: 768px) {
  .top-img .scrolldown-btn {
    right: 43%;
  }
}

.top-img .scrolldown-btn:before {
  position: absolute;
  bottom: -15px;
  left: 43%;
  content: "\f063";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

@-webkit-keyframes arrowmove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrowmove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  width: 200px;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.8);
  text-align: center;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    height: 80px;
  }
}

header .pc-nav {
  text-shadow: -1px 1px 0 white;
}

@media (max-width: 768px) {
  header .pc-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

header .pc-nav h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 200px;
  font-size: 28px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  header .pc-nav h1 {
    position: static;
    padding-left: 16px;
    width: auto;
    font-size: 20px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 576px) {
  header .pc-nav h1 {
    font-size: 16px;
  }
}

header .pc-nav h1 span {
  display: block;
  margin-top: 16px;
}

@media (max-width: 768px) {
  header .pc-nav h1 span {
    display: inline;
    margin-left: 16px;
  }
}

@media (max-width: 576px) {
  header .pc-nav h1 span {
    margin-left: 8px;
    font-size: 16px;
  }
}

header .pc-nav h1 .h1-fontsize {
  font-size: 18px;
}

@media (max-width: 576px) {
  header .pc-nav h1 .h1-fontsize {
    margin-left: 8px;
    font-size: 16px;
  }
}

header .pc-nav ul {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  header .pc-nav ul {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 16px 0 0;
    width: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 576px) {
  header .pc-nav ul {
    display: none;
  }
}

header .pc-nav ul li {
  margin: 0 0 24px 0;
  color: rgba(128, 128, 128, 0.678);
  font-size: 16px;
}

@media (max-width: 768px) {
  header .pc-nav ul li {
    margin: 0 16px 0 0;
  }
}

header .pc-nav ul li a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 768px) {
  header .pc-nav ul li a {
    margin: 8px 0;
  }
}

header .pc-nav ul li a:hover {
  color: #000000;
  font-weight: 900;
  font-size: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 768px) {
  header .pc-nav ul li a:hover {
    margin: 0;
    font-size: 24px;
  }
}

header .burger-btn {
  position: relative;
  z-index: 10;
  display: block;
  display: none;
  margin: 0 16px 0 auto;
  width: 25px;
  height: 21px;
  cursor: pointer;
}

@media (max-width: 576px) {
  header .burger-btn {
    display: block;
  }
}

header .burger-btn span:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .burger-btn span:nth-of-type(1).active {
  top: 50%;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .burger-btn span:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .burger-btn span:nth-of-type(2).active {
  display: none;
}

header .burger-btn span:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000000;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .burger-btn span:nth-of-type(3).active {
  top: 50%;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .sp-nav {
  position: fixed;
  bottom: 100vh;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 576px) {
  header .sp-nav {
    display: block;
  }
}

header .sp-nav.active {
  bottom: 0;
}

header .sp-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  height: 100%;
}

header .sp-nav ul .sp-nav-link a {
  margin: 20px 0;
  color: #ffffff;
  font-size: 16px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 18px;
  color: #3b3b3b;
}

@media (max-width: 768px) {
  .about {
    display: block;
  }
}

.about a:hover {
  text-decoration: underline;
}

.about .about-box-left {
  width: 200px;
}

@media (max-width: 768px) {
  .about .about-box-left {
    width: 0;
  }
}

.about .about-box-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 120px 0 0 0;
}

@media (max-width: 768px) {
  .about .about-box-right {
    padding: 80px 0 0 0;
  }
}

.about .about-box-right .about-box {
  margin: 0 auto 120px;
  max-width: 800px;
}

@media (max-width: 768px) {
  .about .about-box-right .about-box {
    margin: 0 auto 64px;
  }
}

.about .about-box-right .about-box .text-normal {
  font-weight: normal;
}

.about .about-box-right .about-title {
  margin: 0 0 40px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-align: center;
}

.about .about-box-right .about-title::before {
  content: '';
  width: 1px;
  height: 24px;
  background-color: #000000;
  margin-right: 30px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.about .about-box-right .about-title::after {
  content: '';
  width: 1px;
  height: 24px;
  background-color: #000000;
  margin-left: 30px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.about .about-box-right .about-list-icon {
  margin: 0 0 24px 0;
  font-weight: bold;
}

.about .about-box-right .about-list-icon:before {
  margin: 0 10px 0 0;
  color: #6d6c6c;
  content: "\f00c";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.about .about-box-right .about-list-icon span {
  display: block;
  margin: 0 0 0 54px;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: normal;
}

.work {
  margin: 18px;
  padding: 80px 0 0 0;
}

.work .work-inner {
  margin-left: 200px;
}

@media (max-width: 768px) {
  .work .work-inner {
    margin-left: 0;
  }
}

.work .work-inner .work-title {
  margin: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-align: center;
}

.work .work-inner .work-title::before {
  content: '';
  width: 1px;
  height: 24px;
  background-color: #000000;
  margin-right: 30px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.work .work-inner .work-title::after {
  content: '';
  width: 1px;
  height: 24px;
  background-color: #000000;
  margin-left: 30px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
}

.card-wrap .card {
  /*(100% / カード数 - 余白の合計 / カード数)*/
  margin-right: 64px;
  /*余白*/
  margin-bottom: 30px;
  width: calc(100% / 3 - 128px / 3);
}

@media (max-width: 992px) {
  .card-wrap .card {
    width: calc(100% / 2 - 64px / 2);
  }
  .card-wrap .card:nth-child(3n
) {
    margin-right: 64px;
    /*打ち消すためのコード*/
  }
  .card-wrap .card:nth-child(2n
) {
    margin-right: 0;
    /*右端の余白をなくす*/
  }
}

@media (max-width: 576px) {
  .card-wrap .card {
    margin-right: 0;
    width: 100%;
  }
  .card-wrap .card:nth-child(3n
) {
    margin-right: 0;
    /*打ち消すためのコードを打ち消す*/
  }
}

.card-wrap .card:nth-child(3n
) {
  margin-right: 0;
  /*右端の余白をなくす*/
}

.card-wrap .card {
  display: block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-wrap .card:hover {
  opacity: 0.7;
}

.card-wrap .card:hover .main-contents-img {
  -webkit-transform: translateY(-50%) scale(1.2);
          transform: translateY(-50%) scale(1.2);
}

.card-wrap .card .card-img-wrap {
  position: relative;
  overflow: hidden;
  padding-top: 64%;
  border-bottom: 1px dotted #8b8b8b;
}

.card-wrap .card .card-img-wrap img {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.card-wrap .card .card-body {
  padding: 24px 16px;
}

.card-wrap .card .card-body > *:last-child {
  margin-bottom: 0;
  /*s最後の要素のマージンボトムをなくす*/
}

.card-wrap .card .card-body h3 {
  margin-bottom: 16px;
  font-size: 20px;
}

.card-wrap .card .card-body p {
  margin-bottom: 8px;
  line-height: 1.5;
}

.contact {
  margin: 18px;
  padding: 80px 0 0 0;
}

.contact .contact-inner {
  margin-left: 200px;
}

@media (max-width: 768px) {
  .contact .contact-inner {
    margin-left: 0;
  }
}

.contact .contact-inner .contact-title {
  margin: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-align: center;
}

.contact .contact-inner .contact-title::before {
  content: '';
  width: 1px;
  height: 24px;
  background-color: #000000;
  margin-right: 30px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.contact .contact-inner .contact-title::after {
  content: '';
  width: 1px;
  height: 24px;
  background-color: #000000;
  margin-left: 30px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.contact form {
  width: 100%;
}

.contact form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin: 0 auto 24px;
  max-width: 480px;
  width: 100%;
}

.contact form .form-item .form-title {
  padding: 0 16px 0 0;
  min-width: 170px;
  width: 25%;
  text-align: right;
  font-size: 14px;
}

.contact form .form-item .form-title span {
  margin: 0 0 0 8px;
  padding: 2px;
  border-radius: 2px;
  background-color: rgba(68, 67, 67, 0.678);
  color: #ffffff;
  font-size: 12px;
}

.contact form .form-item .form-body {
  width: 70%;
  font-size: 12px;
  line-height: 1.5;
}

.contact form .form-item textarea {
  height: calc(1.5em * 4);
}

.contact form .form-btn {
  display: block;
  margin: 24px auto;
  padding: 0.5em 1em;
  width: 240px;
  border-style: none;
  border-bottom: solid 2px rgba(14, 13, 13, 0.678);
  border-radius: 3px;
  background: rgba(68, 67, 67, 0.678);
  /*ボタン色*/
  color: #ffffff;
  text-decoration: none;
}

.contact form .form-btn:active {
  /*影を小さく*/
  border-bottom: none;
  /*下に動く*/
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  /*ボタンを押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.scroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: inline-block;
  visibility: hidden;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(238, 238, 238, 0.692);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.scroll i {
  display: inline-block;
  color: #6d6c6c;
  font-size: 24px;
  line-height: 20px;
}

.scroll.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

footer {
  margin: 80px 8px 0 0;
  text-align: right;
  font-size: 9px;
}

footer p {
  display: inline-block;
  font-size: 9px;
}

.nav-active {
  color: #000000;
  font-weight: 900;
  font-size: 40px;
}

@media (max-width: 768px) {
  .nav-active {
    margin: 0;
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */