@import "mixin";
@import "parts";


//ローディングアニメ
.loading-anime-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.89);
  z-index: 9999;

  .loading-anime-text {
    color: #fff;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 1);
    font-size: clamp(12px, 3vw, 20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .loading-anime-line {
    background-color: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 60%;
    transform: scale(0, 1);
    animation: example 1s ease 0.3s 1 forwards;
  }

  @keyframes example {
    0% {
      transform: scale(0, 1);
    }

    100% {
      transform: scale(1, 1);
    }
  }
}

//メインビジュアル
.top-img {
  width: 96%;
  height: 680px;
  margin: 24px 2%;
  background-image: url(../img/top.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  position: relative;

  @include tab {
    background-position: right;
  }

  @include sp {
    background-size: auto 400px;
    height: 400px;
    margin: 8px 2%;
  }

  //スクロールボタン
  .scrolldown-btn {
    position: absolute;
    bottom: 50px;
    right: calc((100% - (200px + 2%))/2);
    animation: arrowmove 1s ease-in-out infinite;
    color: rgb(216, 216, 216);
    font-weight: bold;

    @include tab{
      right: 43%;
     
    }

    &:before {
      position: absolute;
      bottom: -15px;
      left: 43%;
      font-family: "Font Awesome 5 Free";
      content: "\f063";
      font-weight: 900;
     
      
    }
  }


  @keyframes arrowmove {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(8px);
    }

    100% {
      transform: translateY(0);
    }
  }




}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: rgba(240, 240, 240, 0.8);
  text-align: center;
  width: 200px;
  z-index: 100;



  @include tab {
    width: 100%;
    height: 80px;
  }

  //パソコンナビ
  .pc-nav {
    text-shadow: -1px 1px 0 rgba(255, 255, 255, 1);

    @include tab {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h1 {
      font-size: 28px;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;

      @include tab {
        font-size: 20px;
        position: static;
        transform: translateX(0);
        width: auto;
        padding-left: 16px;
      }

      @include sp {
        font-size: 16px;
      }


      span {
        display: block;
        margin-top: 16px;

        @include tab {
          display: inline;
          margin-left: 16px;
        }

        @include sp {
          font-size: 16px;
          margin-left: 8px;
        }
      }

      .h1-fontsize {
        font-size: 18px;

        @include sp {
          font-size: 16px;
          margin-left: 8px;
        }
      }
    }


    ul {
      position: absolute;
      top: 58%;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;


      @include tab {
        position: static;
        display: flex;
        transform: translateX(0);
        width: auto;
        margin: 0 16px 0 0;

      }

      @include sp {
        display: none;
      }

      li {
        margin: 0 0 24px 0;
        font-size: 16px;
        color: rgba(128, 128, 128, 0.678);


        @include tab {
          margin: 0 16px 0 0;

        }

        a {
          transition: 0.5s;

          @include tab {
            margin: 8px 0;
          }


          &:hover {
            color: #000;
            font-size: 40px;
            font-weight: 900;
            transition: 0.5s;

            @include tab {
              font-size: 24px;
              margin: 0;
            }
          }
        }
      }
    }
  }

  //ハンバーガーメニュー
  .burger-btn {
    position: relative;
    display: block;
    width: 25px; //長さ
    height: 21px;
    margin: 0 16px 0 auto;
    display: none;
    z-index: 10;

    @include sp {
      display: block;
    }

    //真ん中の線
    span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%; //長さ
      height: 2px; //太さ
      background-color: #000; //色
      transform: translateY(-50%);
    }

    //上の線
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: 0.3s;
    }

    //下の線
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: 0.3s;
    }

    //クリックしたら×に
    &.active {
      span {
        display: none;
      }

      &:before {
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(45deg);
        background-color: #fff;
      }

      &:after {
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(-45deg);
        background-color: #fff;
      }
    }
  }

  //スマホナビ
  .sp-nav {
    display: none;
    z-index: 1;
    position: fixed;
    bottom: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease-in-out;

    &.active {
      bottom: 0;
    }

    @include sp {
      display: block;
    }

    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .sp-nav-link {
        a {
          margin: 20px 0;
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
}

//about

.about {
  margin: 18px;
  display: flex;
  color: rgb(59, 59, 59);


  @include tab {
    display: block;
  }

  .about-box-left {
    width: 200px;


    @include tab {
      width: 0;
    }
  }

  .about-box-right {
    flex: 1;
    padding: 120px 0 0 0;

    @include tab {
      padding: 80px 0 0 0;
    }

    .about-box {
      max-width: 800px;
      margin: 0 auto 120px;

      @include tab {
        margin: 0 auto 64px;
      }
    }

    .about-box-last {

      @include tab {
        margin: 0 auto;

      }
    }

    .about-title {
      text-align: center;
      margin: 0 0 40px 0;

      @include title-style();

    }

    .about-list-icon {

      &:before {
        font-family: "Font Awesome 5 Free";
        content: '\f00c';
        font-weight: 900;
        margin: 0 10px 0 0;
        color: rgb(109, 108, 108);
      }
    }
  }
}


//work
.work {
  margin: 18px;
  padding: 80px 0 0 0;




  .work-inner {
    margin-left: 200px;

    @include tab {
      margin-left: 0;
    }


    .work-title {
      @include title-style();
      margin: 0 0 40px 0;
    }
  }
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;



  &>.card {
    width: calc(100% / 3 - 128px / 3);
    /*(100% / カード数 - 余白の合計 / カード数)*/
    margin-right: 64px;
    /*余白*/
    margin-bottom: 30px;


    &:nth-child(3n

      /*カード数*/
    ) {
      margin-right: 0;
      /*右端の余白をなくす*/
    }


    @include pc {
      width: calc(100% / 2 - 64px / 2);

      &:nth-child(3n

        /*カード数*/
      ) {
        margin-right: 64px;
        /*打ち消すためのコード*/
      }

      &:nth-child(2n

        /*カード数*/
      ) {
        margin-right: 0;
        /*右端の余白をなくす*/
      }
    }

    @include sp {
      width: 100%;
      margin-right: 0;

      &:nth-child(3n

        /*カード数*/
      ) {
        margin-right: 0;
        /*打ち消すためのコードを打ち消す*/
      }


    }

  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: block;

    &:hover {
      opacity: 0.7;
    }

    &:hover .main-contents-img {
      transform: translateY(-50%) scale(1.2);
    }

    .card-img-wrap {
      position: relative;
      padding-top: 64%;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%) scale(1);
        transition: 0.3s ease-in-out;
      }
    }

    .card-body {
      padding: 16px;

      &>*:last-child {
        margin-bottom: 0;
        /*s最後の要素のマージンボトムをなくす*/
      }

      h3 {
        font-size: 24px;
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 16px;
      }
    }
  }
}

.contact {
  margin: 18px;
  padding: 80px 0 0 0;




  .contact-inner {
    margin-left: 200px;

    @include tab {
      margin-left: 0;
    }


    .contact-title {
      @include title-style();
      margin: 0 0 40px 0;

    }
  }

  form {

    width: 100%;

    .form-item {
      max-width: 480px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      margin: 0 auto 24px;

      .form-title {
        min-width: 170px;
        width: 25%;
        font-size: 14px;
        text-align: right;
        padding: 0 16px 0 0;

        span {
          background-color: rgba(68, 67, 67, 0.678);
          font-size: 12px;
          color: #fff;
          padding: 2px;
          border-radius: 2px;
          margin: 0 0 0 8px;
        }
      }

      .form-body {
        font-size: 12px;
        width: 70%;
        line-height: 1.5;
      }

      textarea {
        height: calc( 1.5em * 4 );
      }
    }


    .form-btn {
      display: block;
      width: 240px;
      margin: 24px auto;
      padding: 0.5em 1em;
      text-decoration: none;
      background: rgba(68, 67, 67, 0.678);
      /*ボタン色*/
      color: #FFF;
      border-style: none;
      border-bottom: solid 2px rgba(14, 13, 13, 0.678);
      border-radius: 3px;


      &:active {
        /*ボタンを押したとき*/
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        /*下に動く*/
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        /*影を小さく*/
        border-bottom: none;
      }
    }
  }
}


.scroll {
  //通常は非表示
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5, 0.5);
  //出現させる場所
  position: fixed;
  bottom: 20px;
  right: 20px;
  //スタイリング
  display: inline-block;
  background-color: rgba(238, 238, 238, 0.692);
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  transition: all 0.5s linear;

  i {
    font-size: 24px;
    color: rgb(109, 108, 108);
    display: inline-block;
    line-height: 20px;

  }


  //.showがつくと表示
  &.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
  }
}


footer {
  font-size: 9px;
  margin: 80px 8px 0 0;
  text-align: right;

  p {
    display: inline-block;
    font-size: 9px;
  }
}


//scrollMagic ナビのアニメーション
.nav-active {
  color: #000;
  font-size: 40px;
  font-weight: 900;


  @include tab {
    font-size: 24px;
    margin: 0;
  }
}