@import "mixin";
@import "parts";

//ローディングアニメ
.loading-anime-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.89);

  .loading-anime-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 1);
    font-size: clamp(12px, 3vw, 20px);
    transform: translate(-50%, -50%);
  }

  .loading-anime-line {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transform: scale(0, 1);
    animation: example 1s ease 0.3s 1 forwards;
  }

  @keyframes example {
    0% {
      transform: scale(0, 1);
    }

    100% {
      transform: scale(1, 1);
    }
  }
}

//メインビジュアル
.top-img {
  position: relative;
  margin: 24px 2%;
  width: 96%;
  height: 680px;
  border-radius: 16px;
  background-image: url(../img/top.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include tab {
    background-position: right;
  }

  @include sp {
    margin: 8px 2%;
    height: 400px;
    background-size: auto 400px;
  }

  //スクロールボタン
  .scrolldown-btn {
    position: absolute;
    right: calc((100% - (200px + 2%)) / 2);
    bottom: 50px;
    color: rgb(216, 216, 216);
    font-weight: bold;
    animation: arrowmove 1s ease-in-out infinite;

    @include tab {
      right: 43%;
    }

    &:before {
      position: absolute;
      bottom: -15px;
      left: 43%;
      content: "\f063";
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
    }
  }

  @keyframes arrowmove {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(8px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 200px;
  width: 200px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;

  @include tab {
    width: 100%;
    height: 80px;
  }

  //パソコンナビ
  .pc-nav {
    text-shadow: -1px 1px 0 rgba(255, 255, 255, 1);

    @include tab {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    h1 {
      position: absolute;
      top: 25%;
      left: 50%;
      width: 200px;
      font-size: 28px;
      transform: translateX(-50%);

      @include tab {
        position: static;
        padding-left: 16px;
        width: auto;
        font-size: 20px;
        transform: translateX(0);
      }

      @include sp {
        font-size: 16px;
      }

      span {
        display: block;
        margin-top: 16px;

        @include tab {
          display: inline;
          margin-left: 16px;
        }

        @include sp {
          margin-left: 8px;
          font-size: 16px;
        }
      }

      .h1-fontsize {
        font-size: 18px;

        @include sp {
          margin-left: 8px;
          font-size: 16px;
        }
      }
    }

    ul {
      position: absolute;
      top: 58%;
      left: 50%;
      width: 200px;
      transform: translateX(-50%);

      @include tab {
        position: static;
        display: flex;
        margin: 0 16px 0 0;
        width: auto;
        transform: translateX(0);
      }

      @include sp {
        display: none;
      }

      li {
        margin: 0 0 24px 0;
        color: rgba(128, 128, 128, 0.678);
        font-size: 16px;

        @include tab {
          margin: 0 16px 0 0;
        }

        a {
          transition: 0.5s;

          @include tab {
            margin: 8px 0;
          }

          &:hover {
            color: #000000;
            font-weight: 900;
            font-size: 40px;
            transition: 0.5s;

            @include tab {
              margin: 0;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

  //ハンバーガーメニュー
  .burger-btn {
    position: relative;
    z-index: 10;
    display: block;
    display: none;
    margin: 0 16px 0 auto;
    width: 25px; //長さ
    height: 21px;
    cursor: pointer;

    @include sp {
      display: block;
    }

    //真ん中の線
    span {
      &:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        content: "";
        transition: 0.3s;

        &.active {
          top: 50%;
          background-color: #ffffff;
          transform: translateY(-50%);
          transform: rotate(45deg);
        }
      }

      &:nth-of-type(2) {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%; //長さ
        height: 2px; //太さ
        background-color: #000000; //色
        transform: translateY(-50%);

        &.active {
          display: none;
        }
      }

      &:nth-of-type(3) {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        content: "";
        transition: 0.3s;

        &.active {
          top: 50%;
          background-color: #ffffff;
          transform: translateY(-50%);
          transform: rotate(-45deg);
        }
      }
    }
  }

  //スマホナビ
  .sp-nav {
    position: fixed;
    bottom: 200vh;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease-in-out;

    @include sp {
      display: block;
    }

    &.active {
      bottom: 0;
    }

    ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      height: 100%;

      .sp-nav-link {
        a {
          margin: 20px 0;
          color: #ffffff;
          font-size: 16px;
        }
      }
    }
  }
}

//about

.about {
  display: flex;
  margin: 18px;
  color: rgb(59, 59, 59);

  @include tab {
    display: block;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .about-box-left {
    width: 200px;

    @include tab {
      width: 0;
    }
  }

  .about-box-right {
    flex: 1;
    padding: 120px 0 0 0;
    position: relative;

    @include tab {
      padding: 80px 0 0 0;
    }

    .about-box {
      margin: 0 auto 120px;
      max-width: 800px;

      @include tab {
        margin: 0 auto 64px;
      }
      .text-normal {
        font-weight: normal;
      }
    }

    .about-title {
      margin: 0 0 40px 0;
      text-align: center;

      @include title-style();
    }

    .about-list-icon {
      margin: 0 0 24px 0;
      font-weight: bold;

      &:before {
        margin: 0 10px 0 0;
        color: rgb(109, 108, 108);
        content: "\f00c";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
      }

      span {
        display: block;
        margin: 0 0 0 54px;
        font-size: clamp(10px, 3vw, 12px);
        font-weight: normal;
      }
    }

    #luxy {

      z-index: -100;

      img {
        width: 100%;
        height: auto;
      }
  
      .cloud-img1 {
        position: absolute;
        z-index: -100;
        top: -1200px;
        right: 10%;
        width: 400px;
        max-width: 40%;
        overflow: hidden;
  
        @include tab {
          top: 10%;
          right: 0;
        }
      }
  
      .cloud-img2 {
        position: absolute;
        z-index: -100;
        top: -1000px;
        left: -15%;
        width: 500px;
        max-width: 50%;
  
        @include tab {
          top: 40%;
          left: -10%;
        }
      }
  
      .cloud-img3 {
        position: absolute;
        z-index: -100;
        top: -450px;
        right: 10%;
        width: 300px;
        max-width: 35%;
  
        @include tab {
          top: 80%;
          right: -10%;
        }
      }

    }

    
  }
}

//work
.work {
  margin: 18px;
  padding: 80px 0 0 0;

  .work-inner {
    margin-left: 200px;

    @include tab {
      margin-left: 0;
    }

    .work-title {
      margin: 0 0 40px 0;

      @include title-style();
    }
  }
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;

  .card {
    /*(100% / カード数 - 余白の合計 / カード数)*/
    margin-right: 64px;

    /*余白*/
    margin-bottom: 30px;
    width: calc(100% / 3 - 128px / 3);

    @include pc {
      width: calc(100% / 2 - 64px / 2);

      &:nth-child(3n

      /*カード数*/
      ) {
        margin-right: 64px;
        /*打ち消すためのコード*/
      }

      &:nth-child(2n

      /*カード数*/
      ) {
        margin-right: 0;
        /*右端の余白をなくす*/
      }
    }

    @include sp {
      margin-right: 0;
      width: 100%;

      &:nth-child(3n

      /*カード数*/
      ) {
        margin-right: 0;
        /*打ち消すためのコードを打ち消す*/
      }
    }

    &:nth-child(3n

    /*カード数*/
    ) {
      margin-right: 0;
      /*右端の余白をなくす*/
    }
  }

  .card {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgba(255, 255, 255, 1);

    &:hover {
      opacity: 0.7;
    }

    &:hover .main-contents-img {
      transform: translateY(-50%) scale(1.2);
    }

    .card-img-wrap {
      position: relative;
      overflow: hidden;
      padding-top: 64%;
      border-bottom: 1px dotted #8b8b8b;

      img {
        position: absolute;
        top: 50%;
        width: 100%;
        transition: 0.3s ease-in-out;
        transform: translateY(-50%) scale(1);
      }
    }

    .card-body {
      padding: 24px 16px;

      & > *:last-child {
        margin-bottom: 0;
        /*s最後の要素のマージンボトムをなくす*/
      }

      h3 {
        margin-bottom: 16px;
        font-size: 20px;
      }

      p {
        margin-bottom: 8px;
        line-height: 1.5;
      }
    }
  }
}

.contact {
  margin: 18px;
  padding: 80px 0 0 0;

  .contact-inner {
    margin-left: 200px;

    @include tab {
      margin-left: 0;
    }

    .contact-title {
      margin: 0 0 40px 0;

      @include title-style();
    }
  }

  form {
    width: 100%;

    .form-item {
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin: 0 auto 24px;
      max-width: 480px;
      width: 100%;

      .form-title {
        padding: 0 16px 0 0;
        min-width: 170px;
        width: 25%;
        text-align: right;
        font-size: 14px;

        span {
          margin: 0 0 0 8px;
          padding: 2px;
          border-radius: 2px;
          background-color: rgba(68, 67, 67, 0.678);
          color: #ffffff;
          font-size: 12px;
        }
      }

      .form-body {
        width: 70%;
        font-size: 12px;
        line-height: 1.5;
      }

      textarea {
        height: calc(1.5em * 4);
      }
    }

    .form-btn {
      display: block;
      margin: 24px auto;
      padding: 0.5em 1em;
      width: 240px;
      border-style: none;
      border-bottom: solid 2px rgba(14, 13, 13, 0.678);
      border-radius: 3px;
      background: rgba(68, 67, 67, 0.678);

      /*ボタン色*/
      color: #ffffff;
      text-decoration: none;

      &:active {
        /*影を小さく*/
        border-bottom: none;

        /*下に動く*/
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);

        /*ボタンを押したとき*/
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
      }
    }
  }
}

.scroll {
  //出現させる場所
  position: fixed;
  right: 20px;
  bottom: 20px;

  //スタイリング
  display: inline-block;

  //通常は非表示
  visibility: hidden;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(238, 238, 238, 0.692);
  text-align: center;
  opacity: 0;
  transition: all 0.5s linear;
  transform: scale(0.5, 0.5);

  i {
    display: inline-block;
    color: rgb(109, 108, 108);
    font-size: 24px;
    line-height: 20px;
  }

  //.showがつくと表示
  &.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
  }
}

footer {
  margin: 80px 8px 0 0;
  text-align: right;
  font-size: 9px;

  p {
    display: inline-block;
    font-size: 9px;
  }
}

//scrollMagic ナビのアニメーション
.nav-active {
  color: #000000;
  font-weight: 900;
  font-size: 40px;

  @include tab {
    margin: 0;
    font-size: 24px;
  }
}
